<div class="container">
  <h1 class="title">{{ title }}</h1>
  <mat-card class="content">
    <button mat-flat-button class="add-button" (click)="onAdd()">
      <mat-icon>add_box</mat-icon>
      Adicionar Funcionario
    </button>
    <app-funcionarios-lista
      *ngIf="funcionarios$ | async as funcionarios else loading"
      [funcionarios]="funcionarios"
      (edit)="onEdit($event)"
      (remove)="onRemove($event)"
    />
  </mat-card>

  <ng-template #loading>
    <mat-spinner diameter="80" color="accent" />
  </ng-template>
</div>
